player-connection-mode=Listen
player-connection-guid=178205446
player-connection-debug=0
player-connection-project-name=LastManStanding
player-connection-ip=59.2.60.65
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=105f948c51d64c09b4a88f02c6829f40
