player-connection-mode=Listen
player-connection-guid=1119741436
player-connection-debug=0
player-connection-project-name=LastManStanding
player-connection-ip=59.2.60.65
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c051167f2d0a4d9cae12181673c35eef
